{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <style>
    .card-body {
        display: flex;
        flex-direction: column;
    }
    .carousel {
        border: 3px solid black;
        margin-top: auto;
    }
    .carousel-item {
        opacity: 1;
        transition: transform 2s ease, opacity .4s ease-out
    }
    .carousel-item img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 200px;
        object-fit: cover;
    }
    </style>
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4 gy-5">
                <div class="card" data-bs-theme="dark">
                    <div class="card-header">
                        <h3 class="text-center">Bine ati venit!</h3>
                    </div>
                    <div class="card-body">
                        Toate produsele sunt ...
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-10 offset-md-1 gy-5">
                <div class="row">
                {% for product in products %}
                    <div class="col-md-3 gy-5 mb-4">
                        <div class="card d-flex flex-column h-100" data-bs-theme="dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product_name }}</h5>
                                <p class="card-text">
                                    {{ product.product_description }}
                                </p>
                                <p class="card-text">
                                    {{ product.product_price }}
                                </p>
                                <!-- Carousel -->
                                <div id="{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                                    <!-- Slides -->
                                    <div class="carousel-inner">
                                        {% for image in product.images.all %}
                                            {% if forloop.first %}
                                                <div class="carousel-item active">
                                                    <img src="{{ image.image.url }}" alt="{{ product.product_name }}">
                                                </div>
                                            {% else %}
                                                <div class="carousel-item">
                                                    <img src="{{ image.image.url }}" alt="{{ product.product_name }}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- Controls -->
                                    <a class="carousel-control-prev" href="#{{ product.id }}" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#{{ product.id }}" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </div> <!-- End of Carousel -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
     </div>
{% endblock %}
